@model ReservacionesTricolor.Reservacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitacion.NombreHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion.NombreHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReservacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
