<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/principal.css" rel="stylesheet" />

</head>
<body>
    <nav style="background-color:#97BBB5; color:white;" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a style="color:white; font-size: 30px;" class="navbar-brand" href="/Home/Index/">Reservaciones Tricolor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @{
                        Usuario oUsuario;
                        string nombre = "";
                        // Validar si vienen datos en la session
                        if (Session["User"] != null)
                        {
                            // Casting
                            oUsuario = Session["User"] as Usuario;

                            var usuarioAdmin = oUsuario.UsuarioRol.Where(x => x.Rol.NombreRol == "Administrador").FirstOrDefault();

                            if (usuarioAdmin != null)
                            {
                                <li class="nav-item dropdown">
                                    <a style="color:white; font-size: 20px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Mantenimiento
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li>@Html.ActionLink("Hotel", "Index", "Hotel", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Habitación", "Index", "Habitacion", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Características", "Index", "Caracteristica", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Usuario", "Index", "Usuario", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Roles", "Index", "Rol", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Asignar roles", "Index", "UsuarioRol", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("País", "Index", "Pais", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Provincia", "Index", "Provincia", null, new { @class = "dropdown-item" })</li>
                                        <li class="nav-divider"></li>
                                        <li>@Html.ActionLink("Cantón", "Index", "Canton", null, new { @class = "dropdown-item" })</li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a style="color:white; font-size: 20px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Consultas
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li>@Html.ActionLink("Reservaciones", "Index", "Hotel", null, new { @class = "dropdown-item" })</li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item">
                                <a style="color:white; font-size: 20px;" class="nav-link" href="/Hotel/ReservarHabitacion">Realizar Reservación</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:white; font-size: 20px;" class="nav-link" href="/Factura/Index">Ver mis Reservaciones</a>
                            </li>



                        }
                        //Here I must implement login and logout button
                    }
                </ul>
            </div>

            @{
                // Validar si vienen datos en la session
                if (Session["User"] != null)
                {
                    <a href="@Url.Action("Logout", "Login")" type="submit" class="btn btn-warning">Log Out</a>
                }
                else
                {
                    <a style="margin-right:2%;" href="/Login/Register" type="submit" class="btn btn-warning">Registrarse</a>
                    <a href="/Login" type="submit" class="btn btn-warning">Log In</a>
                }
            }

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; ReservacionesTricolor</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
