@model ReservacionesTricolor.Habitacion

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.NombreHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.NombreHotel)
        </dd>

    </dl>
</div>
