@model IEnumerable<ReservacionesTricolor.Habitacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.NombreHotel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.NombreHotel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdHabitacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdHabitacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdHabitacion })
        </td>
    </tr>
}

</table>
