@model ReservacionesTricolor.Hotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreHotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreHotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estrellas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estrellas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canton.NombreCanton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canton.NombreCanton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia.NombreProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia.NombreProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHotel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
